VITE_API_BASE_URL=
VITE_PROXY_TARGET=https://api.signlearn.id.vn
VITE_USE_BACKEND_COURSES=true
VITE_GOOGLE_OAUTH_EXCHANGE_PATH=/api/v1/auth/google/exchange
VITE_GOOGLE_AUTH_URL=https://api.signlearn.id.vn/api/v1/auth/google/login
VITE_GOOGLE_CALLBACK_EXCHANGE_URL=/api/v1/auth/google/exchange

